<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>String Calculator</title>
</head>
<body>
	<h1>String Calculator</h1>
	<form action="/" method="GET">
      <label for="input">Enter a list of numbers:</label><br><br>
      <input type="text" id="input" name="input"><br><br>      	  
	  <input type="submit" id="output" value="Caculate">
    </form>
	
</body>
</html>